# .NET Build outputs & caches
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*~
*.lock.json

# Visual Studio / Rider / IDE specific folders
.vs/
.idea/
*.rsuser

# Local environment & secrets
.env
*.env

# ASP.NET Core local secrets
appsettings.Development.json

# OS specific temporary files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

$env:ASPNETCORE_ENVIRONMENT="Development"